/* Copyright 2014-2020 Epic Systems Corporation */
.CursorPointer {
  cursor: pointer; }

.inlineBlock {
  display: inline-block;
  vertical-align: top; }

.billingformsection .formsection .formcolumn input, .billingformsection .formsection .formcolumn select {
  min-width: 0;
  width: 100%; }

.OutstandingBalanceContainer {
  width: 33%;
  text-align: center;
  line-height: normal;
  padding: 0.5rem 0;
  vertical-align: middle;
  display: inline-block;
  border-right: 1px solid #dbdbdb; }
  .column_3 .OutstandingBalanceContainer {
    width: 100%;
    border-right: 0;
    margin: 0; }

div.OutstandingBalanceHeader {
  text-align: center;
  border-collapse: collapse;
  font-size: 1.5em;
  color: #702F8A;
  font-weight: normal;
  padding-bottom: 10px; }

div.BalanceSummaryActionContainer {
  width: 66%;
  display: inline-block;
  vertical-align: middle; }

.column_3 .BalanceSummaryActionContainer {
  width: 100%;
  text-align: center; }

.BalanceSummaryActionContainer .AutoPayBanner {
  padding: 0.5rem 0.5rem 0.5rem 2rem; }

div.BalanceSummaryPayButton {
  margin-top: 1rem;
  max-width: 8rem; }

#letters thead tr th:first-child, #statements thead tr th:first-child {
  padding-left: 2.25rem; }
#letters tbody tr td:first-child:before, #statements tbody tr td:first-child:before {
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: inline-block;
  height: 1.25rem;
  margin-right: 0.5rem;
  width: 1.25rem;
  vertical-align: middle; }
#letters tbody tr.new td:first-child:before, #statements tbody tr.new td:first-child:before {
  background-image: url("../images/billing/account_details/statement_unread.svg"); }
#letters tbody tr:not(.new) td:first-child:before, #statements tbody tr:not(.new) td:first-child:before {
  background-image: url("../images/billing/account_details/statement_read.svg"); }
#letters tbody tr.new td a, #statements tbody tr.new td a {
  left: -0.75rem;
  position: relative; }
  #letters tbody tr.new td a:before, #statements tbody tr.new td a:before {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    content: '';
    display: inline-block;
    height: 0.5rem;
    left: -0.2rem;
    position: relative;
    top: 0.6rem;
    width: 0.5rem; }

a.AutoPayBannerLink {
  float: left;
  position: relative;
  left: 45px;
  top: 12px; }

img.AutoPayCalendar {
  vertical-align: middle;
  display: inline-block;
  width: 1.8rem; }

.AutoPayBannerTextWrapper {
  display: inline-block;
  width: calc(100% - 2.5rem);
  margin-left: 0.5rem;
  vertical-align: middle; }

a.EditPlanLink {
  color: #ffffff;
  text-decoration: none; }

.OutstandingAccountsHARID {
  float: right;
  font-style: italic; }

#sidebar .gurantorinfo {
  font-weight: bold; }

#payment.section {
  margin: 1rem 0; }
#payment .formbuttons {
  margin: 1rem 0; }

.balancenotcovered {
  padding: 0.5rem;
  margin: 1.5rem 0 0.5rem;
  font-size: 0.9rem;
  line-height: normal; }
  .balancenotcovered + .balancenotcovered {
    margin-top: 0; }
  .balancenotcovered img {
    width: 1rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem; }

.card .payplanheader.cardheader {
  margin-bottom: 0; }

#paymentplan .payplandetails {
  word-wrap: break-word; }

.ChargeGroupContainer {
  border-left: 3px solid; }

.ChargeGroupIndented {
  margin-left: 1.25em;
  padding-left: 0.25em; }

div.ChargeItemDescription, div.ChargeItemAmount, div.PaymentItemAmount, div.InsuranceItemAmount, div.PatientItemAmount {
  font-style: italic;
  color: #767676;
  display: inline-block;
  margin-top: 3px; }

div.ChargeItemDescription {
  padding-left: 4px;
  padding-bottom: 4px; }

div.ChargeItemAmount, div.PaymentItemAmount, div.InsuranceItemAmount, div.PatientItemAmount {
  text-align: right; }

.contestedIcon {
  height: 1rem;
  width: 1rem; }

.AccountAlert {
  font-size: 0.9rem;
  line-height: normal; }

.RightArrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000; }

.DownArrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 8px;
  margin-left: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000; }

.ArrowOnLeft {
  float: left;
  margin-right: 0.5em;
  margin-left: 0; }

#togglechargedetails {
  font-size: 0.9em;
  margin-left: 10px;
  margin-top: 0px; }

.DetailsHidden {
  display: none; }

.content table tr.clickable.ChargeGroupRow:not(.hover) td {
  background-color: inherit; }

.outstandingAccountTotal, .outstandingAccountsTotalsTable {
  padding-right: 0.5rem; }

.outstandingAccountsTotalsTable {
  display: table; }
  .outstandingAccountsTotalsTable div {
    display: table-row; }
    .outstandingAccountsTotalsTable div span {
      display: table-cell;
      width: 5%;
      padding-left: 0.5rem; }

.header.accountsGrouperPaymentPlan {
  font-size: 14pt;
  line-height: normal; }

.header.accountsGrouperPatient {
  padding-left: 5px; }

.header.accountsGrouperPatient, .header.accountsGrouperPaymentPlan {
  padding-bottom: 0; }

.allowscroll {
  overflow: auto; }

.payment_activity_header {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin: 0.75rem 0; }
  .payment_activity_header .header_text {
    flex: 1 1 auto; }
  .payment_activity_header .header_logo {
    flex: 0 0 auto;
    margin-left: 0.5rem;
    max-height: 64px;
    max-width: 64px;
    width: auto; }
    .payment_activity_header .header_logo > img {
      height: 64px;
      width: 64px; }

#PaymentEntry, #GuestPayVerification, #DetailsVerification {
  margin-left: 0; }

#PaymentMethodEntryStep {
  min-height: 100px; }

.slider .Step {
  padding-right: 0.2rem;
  padding-left: 0.2rem; }

.payment_amount_selector, .har_selector {
  max-width: 30rem; }

.payment_amount_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel {
  line-height: 1.875rem;
  width: 100%; }
  .payment_amount_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_label {
    flex: 1 1 auto; }
  .payment_amount_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_amount {
    flex: 0 0 auto;
    margin-left: 0.5rem; }
    .payment_amount_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_amount .other_option_input {
      display: inline-block;
      font-size: 1rem;
      float: right;
      line-height: 1.375rem;
      margin: 0;
      max-width: 7rem;
      text-align: right;
      -moz-appearance: textfield; }
      .payment_amount_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_amount .other_option_input::-webkit-outer-spin-button, .payment_amount_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_amount .other_option_input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    @media screen and (max-width: 768px) {
      .payment_amount_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_amount.other_option {
        width: 100%; }
        .payment_amount_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_amount.other_option .other_option_input {
          margin-top: 0.5rem;
          margin-right: 0.25rem;
          max-width: initial;
          width: calc(100% - 1.75rem); } }

@media screen and (max-width: 768px) {
  #pmt_application_options .tbContainer {
    display: block;
    width: 100%; }
    #pmt_application_options .tbContainer > label {
      width: 100%; } }

.har_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel {
  line-height: 1.875rem;
  width: 100%; }
  .har_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_label {
    flex: 1 1 auto;
    line-height: 1.25rem; }
    .har_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_label > .option_subtext {
      display: block;
      font-size: 0.8rem;
      line-height: 1rem;
      padding-top: 0.25rem; }
      .har_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_label > .option_subtext > span {
        display: block;
        margin-top: 0.3rem; }
  .har_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_amount {
    flex: 0 0 auto;
    margin-left: 0.5rem; }
  @media screen and (max-width: 768px) {
    .har_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel {
      flex-wrap: wrap; }
      .har_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_label {
        width: calc(100% - 1.75rem); }
      .har_selector.flatradiogrouper input.flatradio + label.flatradio.prettylabel > .option_amount {
        left: 1.75rem;
        line-height: 1.25rem;
        text-align: left;
        padding-top: 0.25rem;
        position: relative;
        width: calc(100% - 1.75rem); } }

#payment_amount_error {
  margin: 0.3rem; }

.PaymentConfirmedColumn {
  display: inline-block;
  width: calc(33% - 20px);
  vertical-align: top;
  padding: 10px; }

.PaymentTopPageText {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  padding-right: 1rem; }

#VerificationContent {
  margin-left: 0.5rem; }

#verificationSection1 {
  margin-left: 0; }
  #verificationSection1 .label {
    margin-top: 2rem; }

#verifyBillingInfo, #verifyAccountInfo {
  margin-right: 0; }

.PaymentAmountVerify {
  color: #43a559;
  font-size: 2rem;
  line-height: 2rem;
  margin: 5px 0 5px 0; }

.VerifyInfoField, .formsection .formcolumn.VerifyInfoField, .VerifyBankAccountField:not(:first-of-type) {
  margin-top: 15px; }

.Verify-Card, .Confirm-Card {
  border: 1px solid #cccccc;
  padding: 0 1rem 0.2rem 1rem;
  min-height: 110px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.2);
  width: 275px;
  background-color: #ffffff; }

.Verify-Card {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 0.4rem; }

.verifyInlineSection {
  display: inline-block;
  margin-top: 0.3rem;
  width: auto; }
  .verifyInlineSection:not(:first-child) {
    margin-left: 1.5rem;
    margin-right: 1.5rem; }

.verifyInlineData {
  margin-left: 0.5rem; }

.wrapBreakWord {
  word-break: break-all;
  word-wrap: break-word; }

.confirm-paymentMethodData {
  margin-top: 0.25rem; }

.confirm-icon {
  width: 50px;
  margin-right: 0.5rem;
  padding-top: 0.5rem; }
  .mobile .confirm-icon img {
    width: 50px; }
  .confirm-icon.bankIcon {
    margin-right: 0rem; }

#verifyBillingInfo p {
  margin: 0;
  line-height: 1.15rem; }

.confirm-paymentMethodFields {
  max-width: calc(100% - 50px - 0.5rem); }
  .confirm-paymentMethodFields p {
    margin: 0;
    line-height: 0.9rem; }
    .confirm-paymentMethodFields p:first-of-type {
      line-height: inherit; }

#verifyBillingInfo p:first-of-type {
  margin-top: 0.25rem; }

.Confirm-Card {
  margin-top: 10px; }

.card .errorMessages {
  text-align: left; }

.pmtMethodStatus {
  margin-top: 0.8rem;
  position: relative;
  padding-left: 1.6rem; }
  .pmtMethodStatus .pmtMethodStatusError {
    color: #d80000; }
  .pmtMethodStatus .pmtMethodStatusWarning {
    color: #ed9200; }
  .pmtMethodStatus .pmtMethodStatusIcon {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: 0;
    width: 1.1rem;
    vertical-align: middle; }

.warningContainer {
  display: flex;
  align-items: center;
  text-align: left; }

.alert.card.warningIconLeft img {
  float: left;
  margin: 0 10px 0 0;
  min-height: 2.5rem;
  min-width: 2.5rem; }

.ErrorBanner {
  display: flex;
  height: auto;
  text-align: left;
  font-size: 0.9rem;
  padding: 15px;
  width: auto; }
  .ErrorBanner.jqHidden {
    display: none; }
  .ErrorBanner > #WarningIcon {
    height: 25px;
    min-width: initial; }
  .ErrorBanner > #ErrorMessage {
    line-height: 1.5rem;
    padding-left: 15px; }

#divLookupWarnings p {
  margin-bottom: 0.5rem; }
#divLookupWarnings a.button.multi:not(first-child) {
  margin-top: 0.5rem; }

.guestPayWarning img {
  margin: 1px 5px 0 0;
  vertical-align: top; }
.guestPayWarning div {
  display: inline-block;
  width: calc(100% - 25px); }

.PaymentError {
  color: #d80000;
  font-size: 0.8rem; }

#dobFormSection {
  padding: 0;
  margin: 0; }

.Verify-SelectedLast4DigitsSpan {
  font-size: 1.25rem;
  margin-top: 10px; }

.stepExplanation {
  margin-top: 20px;
  width: auto; }

.GuarantorInfo#GuarantorBalanceInfo, .GuarantorInfo#GuarantorBalanceInfoToggle, .confirm-paymentMethodFields {
  width: auto; }

.LookupInfo .QuickPayValue, .GuarantorInfo .GuarantorValue {
  font-size: 1.1rem; }

#PaymentOtherAmountInput, #PaymentOtherAmountInput-Numeric {
  text-align: center; }

#divQuickPayVerify #btnVerify {
  margin-top: 0.5rem; }
  #divQuickPayVerify #btnVerify.guestdemomode {
    margin-top: 0; }

#divQuickPayVerified img {
  width: 21px;
  vertical-align: top; }
#divQuickPayVerified span {
  padding-left: 0.2rem; }

.AccountIDInput, .GuarantorNameInput {
  width: 150px; }

.MyChartPromptBox {
  width: 85%;
  margin: 2rem auto;
  background-color: #f3eef5;
  padding: 0.6rem; }

.MyChartPromptButtonBox, .BottomButtonsContainer {
  margin-top: 10px; }

#divChooseAccount .grid {
  margin: 0; }

.accountSelectOptionContainer {
  width: 100%; }
  .accountSelectOptionContainer .togglebutton.accountSelectLabel {
    padding: 0.5rem;
    width: 100%; }

.accountSelectLabel > img {
  vertical-align: middle;
  margin-right: 0.5rem; }

.BottomButtonsContainer {
  padding-right: 0.25rem;
  padding-bottom: 0.25rem; }

.green {
  color: #43a559; }

#frmSubmitPayment {
  margin-top: 4px; }

div.BillingWarningBox, ul.BillingWarningBox {
  margin: 1rem 0;
  padding: 0.5rem;
  width: auto;
  text-align: left; }

#divMustContinueAsGuest {
  margin: 0; }

#divMyChartSignInPromptSidebar input {
  margin-top: 0.5rem; }

#divConfirmPayment {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.successMessage {
  margin-bottom: 0.5rem; }
  .successMessage img {
    width: 1.5rem;
    vertical-align: top; }
  .successMessage p {
    margin-left: 0.4rem;
    display: inline-block;
    width: calc(100% - 4rem); }

#divPayAgain {
  margin: 2rem 0 1rem 0;
  text-align: center; }
  #divPayAgain p {
    font-size: 1.25rem;
    margin-bottom: 15px; }

#confDestInput {
  width: 300px; }

#divSendButton {
  vertical-align: bottom;
  margin-left: 1.5rem; }

#divConfSent {
  vertical-align: bottom;
  margin-left: 2rem; }

#divSendConfirmations {
  margin-top: 0.5rem;
  margin-bottom: 1rem; }

#divConfDefaultMsg {
  margin-bottom: 0.5rem;
  margin-top: 1rem; }

#divSendConfirmations div {
  width: auto; }

#spanConfSent span {
  margin-left: 3px;
  vertical-align: bottom; }

.visuallabel, .messagedisplay {
  font-size: 1rem; }

.financialAssistance .card .cardline.tracker {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1rem;
  overflow: visible;
  text-indent: -1rem; }
  .financialAssistance .card .cardline.tracker:last-child {
    margin-bottom: 0; }

.tracker .trackerStatus {
  font-size: 0.8rem;
  margin: 0.25rem 0 0; }

.tracker .trackerStatus .trackerBadge {
  border-radius: 0.25rem;
  color: #ffffff;
  margin: 0 0.25rem 0 0;
  padding: 0.125rem 0.5rem; }
.tracker.Pending .trackerStatus .trackerBadge, .tracker.OpenCase .trackerStatus .trackerBadge {
  background-color: #ffa020; }
.tracker.Approved .trackerStatus .trackerBadge {
  background-color: #37b953; }
.tracker.Denied .trackerStatus .trackerBadge, .tracker.Expired .trackerStatus .trackerBadge {
  background-color: #767676; }

/* #region HAR Selection */
#pmtHARSelectionHeader {
  margin-top: 1.5rem; }

li.HARForPayment {
  min-height: 0;
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #dbdbdb; }
  li.HARForPayment:first-of-type {
    margin-top: 0.25rem;
    border-top: 0; }
  li.HARForPayment:last-of-type {
    margin-bottom: 0.25rem; }
  li.HARForPayment > .pmtHarDescription {
    display: table-cell; }
    li.HARForPayment > .pmtHarDescription > .pmtHarHeader {
      padding-top: 0.25rem; }
  li.HARForPayment > .pmtHarOutstandingBalance {
    display: table-cell;
    text-align: right;
    white-space: nowrap; }

.HARSAutopay {
  float: right;
  font-size: 1rem; }

#pmtHARSelectionList li.HARForPayment p {
  margin-top: 0.5rem; }
#pmtHARSelectionList li.HARForPayment .pmtEmphasis {
  font-size: 1.25rem; }

.HARSAmtLine {
  text-align: right; }
  .HARSAmtLine span {
    float: left; }

.pmtHideHAREPTNames .pmtHAREPTName {
  display: none; }

.badDebtHelpContainer img, .badDebtWarningIcon {
  height: 1.2rem;
  width: 1.2rem; }

.badDebtWarningIcon {
  margin-top: 2px; }

/* #endregion */
/* #region Autopay - Signup ********************/
.setOfStepsContainer {
  overflow: hidden; }

/* #region Current plan status/review payment plan; also used on the one-time payment pages. */
div.Review-SelectedBrandLogoDiv {
  width: 90px;
  vertical-align: middle; }

div.Review-SelectedLast4DigitsDiv {
  font-size: 1rem;
  width: calc(100% - 90px);
  vertical-align: middle;
  padding-left: 1rem; }
  div.Review-SelectedLast4DigitsDiv > span {
    display: block; }

span.Review-SelectedLast4DigitsSpan {
  font-size: 1.25rem; }

div.Review-SelectedPaymentMethodNameDiv {
  font-size: 1.25rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

div.Review-SelectedCardholderNameDiv {
  overflow: hidden;
  text-overflow: ellipsis; }

/* #endregion */
/* #region Pre/Post text sections - for customizable text on the autopay pages. */
.PreTextSection {
  position: relative;
  padding-bottom: 25px; }

.PostTextSection {
  position: relative;
  padding: 25px 0; }

.StepPreTextSection {
  padding: 10px 0;
  text-align: left; }

.StepPostTextSection {
  padding: 10px 0;
  text-align: left; }

.StepPreTextSection:empty, .StepPostTextSection:empty {
  padding: 0; }

/* #endregion */
/* #endregion */
/* #region VB classes for payment plans ********/
div.pmtPlan {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.5rem; }

div.pmtPlan--Left {
  width: 30%;
  text-align: center;
  padding-top: 0.5rem; }

div.pmtPlan--Right {
  margin-left: 2%;
  width: 68%; }

div.pmtPlan .radio {
  margin-left: 10px;
  margin-right: 10px; }

div.pmtPlan p {
  margin-top: 0.2em;
  margin-bottom: auto; }

p.payplansecondline span, p.payplansecondlineauto span {
  display: block;
  margin-top: 0px; }

.payplanautonormal .paymentplanautocontainer {
  background-image: url("../images/payplanauto_normal.svg");
  height: 96px;
  padding-top: 0.5rem;
  text-align: center;
  width: 182px;
  margin: 0 auto;
  line-height: normal; }

.payplannormal .paymentplanautocontainer .payplanamount.nopayment, .payplanuptodate .paymentplanautocontainer .payplanuptodate {
  font-size: 1rem;
  font-weight: normal;
  color: #43a559;
  margin: 0.5rem 0; }

.payplannormal .payplanamount.nopayment::before, .payplanuptodate .paymentplanautocontainer .payplanuptodate::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/checkmark_large.svg") no-repeat;
  background-size: 100%;
  margin: 0 auto; }

.pmtPlan .paymentplanautocontainer p {
  margin: 0;
  line-height: normal;
  font-size: 0.9rem; }

.paymentplanautocontainer p.payplanamountauto, .paymentplanautocontainer p.payplanamount {
  font-size: 1.4rem;
  font-weight: bold; }

.pmtPlan .creditcardlogo {
  width: 2rem;
  vertical-align: middle; }

/* #endregion */
#demographics .billingaccountnumber * {
  display: inline-block;
  width: auto; }

#statementDateSelection {
  position: relative; }
  #statementDateSelection .right {
    position: absolute;
    right: 0;
    top: 0;
    width: auto; }
    #statementDateSelection .right > * {
      display: inline-block;
      margin: 0 0 0 0.25rem;
      vertical-align: top; }

#creditcardlist td input {
  vertical-align: middle;
  display: inline-block; }
#creditcardlist .cctypelogo {
  width: 3rem; }

#cctransactiondetail {
  font-weight: bold;
  margin: 1rem 0; }

#currentoutstandingaccts tr:not(.header) td {
  padding-left: 1rem; }

#ccbilling .formsection {
  margin: 0; }

.blocklabel {
  display: block; }

div.withDivider {
  border-right: 1px solid #dbdbdb; }

#divPlanSummary .planSummarySegment {
  padding: 0.5rem; }

.pmtStep .paymentSummarySection {
  margin: 12px 0; }

p.separator, p.dividerX {
  margin: 0; }

.mobile p.separator {
  background: #f5eff8 none repeat scroll 0 0;
  border: none;
  display: block;
  padding: 0 0 0.5rem 0;
  margin: 0;
  width: 100%; }

@media only screen and (min-width: 769px) {
  .mobile #visitPayVerifyStep .paymentSummaryContainer p.separator {
    display: none; }
  .mobile .pmtStep .paymentSummarySection {
    border-style: none;
    border-width: 0; }
  .mobile #visitPayVerifyStep .paymentSummaryContainer.grid {
    margin: 0; } }

@media only screen and (max-width: 768px) {
  #btnSignIn, #btnContinueWithoutSignIn, #btnCreateAccount, #btnContinueWithoutAccount {
    width: 100%;
    margin: 0 0 0.5rem 0; }
  .MyChartPromptBox {
    width: 100%; }
  #divConfirmPayment {
    padding: 0; }
    #divConfirmPayment #divSendConfirmations > div, #divConfirmPayment #divSendConfirmations input {
      width: 100%;
      margin: 0; }
    #divConfirmPayment #divSendConfirmations a {
      display: block; }
    #divConfirmPayment #divSendConfirmations #divConfSent {
      text-align: center; }
  .pmtStep .paymentSummarySection {
    text-align: center; }
    .pmtStep .paymentSummarySection + .paymentSummarySection {
      margin-top: 0; }
  .mobile p.dividerX {
    width: 100%; }
  p.dividerX {
    display: block;
    width: 75%;
    margin: auto;
    padding: 0;
    border-top: 1px solid #dbdbdb; }
  div.withDivider {
    border-right: none;
    border-bottom: 1px solid #dbdbdb; }
  #divPlanSummary .planSummarySegment {
    margin: 0; }
  li.HARForPayment {
    text-align: center; }
    li.HARForPayment > .pmtHarDescription {
      display: block; }
      li.HARForPayment > .pmtHarDescription > .pmtHarHeader {
        padding-bottom: 0;
        padding-top: 0.25rem; }
      li.HARForPayment > .pmtHarDescription > .pmtHarAccountType {
        padding-top: 0.25rem; }
    li.HARForPayment > .pmtHarOutstandingBalance {
      display: block;
      padding-top: 0.5rem;
      text-align: center; }
  .pmtStep .centerSectionWrapper {
    text-align: center; }
    .pmtStep .centerSectionWrapper .formsection {
      margin: inherit;
      margin-bottom: 0.75rem; }
  .pmtStep .centerContent {
    display: inline-block;
    width: auto; }
    .pmtStep .centerContent.noPadding {
      padding: 0; }
  .breakdownRow .labelColumn.smallScreen, .breakdownRow .amountColumn.smallScreen {
    width: 50%; }
  #divConfDefaultMsg br, #divConfirmPayment br {
    display: none; }
  .pmtStep .pmtSummaryTextAlignLeft {
    text-align: left; } }

/*override for focus - IE/Edge do not show it otherwise*/
#guestPay-content .button:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #b595ae; }
