
/* forms start */

section[class^="cbFormSection"] div.cbComboBoxContainer {
	display: block !important;
	width: 100% !important;
}

	section[class^="cbFormSection"] div.cbComboBoxContainer div {
		display: block !important;
		width: 100% !important;
	}

/* forms end */
/*tabular start*/
table[class^="cbResultSetTable"] {
	background: transparent !important;
	display: block;
	/* User Story 82205: Calendar Picker Library
	   calendar is cut off
	   overflow: hidden;
	*/
	overflow-x: hidden;
	box-sizing: border-box;
}

nav.cbActionPanel a[data-cb-name=GridEditButton],
nav.cbActionPanel a[data-cb-name=BulkDeleteButton],
nav.cbActionPanel a[data-cb-name=BulkEditButton],
table[data-cb-name=cbTable] .cbResultSetSelectRecordCheckBoxCell,
section[data-cb-name=cbTable] .cbResultSetListViewHeaderCheckBoxCell,
nav.cbActionPanel input[id^="HCB"],
nav.cbActionPanel label[for^="HCB"] {
	display: none;
}

nav.cbActionPanel ul li {
	margin-right: 0px !important;
}

nav.cbReportNavBarPanel > div {
	display: block !important;
	text-align: center;
}

	nav.cbReportNavBarPanel > div > ul {
		display: inline-flex;
	}

table[class^="cbResultSetTable"] > thead {
	display: none;
}

table[class^="cbResultSetTable"] > tbody {
	display: block;
}

	table[class^="cbResultSetTable"] > tbody > tr {
		display: block;
		box-sizing: border-box;
		width: 100%;
	}

		table[class^="cbResultSetTable"] > tbody > tr > td {
			display: block;
			border: none !important;
			width: auto !important;
			text-align: left !important;
		}

		table[class^="cbResultSetTable"] > tbody > tr > td.cbResultSetData {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		table[class^="cbResultSetTable"] > tbody > tr > td:not(.cbInlineAddFormButtonContainer) {
			padding-bottom: 5px !important;
		}

			table[class^="cbResultSetTable"] > tbody > tr > td > input[type="submit"],
			table[class^="cbResultSetTable"] > tbody > tr > td > input[type="submit"]:hover {
				width: 100% !important;
				display: block;
				margin-bottom: 1em;
			}

				table[class^="cbResultSetTable"] > tbody > tr > td > input[type="submit"]:hover {
					width: 100% !important;
					display: block;
					margin-bottom: 1em;
				}

			table[class^="cbResultSetTable"] > tbody > tr > td[data-cb-name^="groupLabelCell"]:before {
				display: none;
			}

			table[class^="cbResultSetTable"] > tbody > tr > td[data-cb-name^="groupLabelCell"] {
				overflow: hidden;
				text-overflow: ellipsis
			}

		table[class^="cbResultSetTable"] > tbody > tr[data-cb-name=inlineaddrow] > td:before,
		table[class^="cbResultSetTable"] > tbody > tr[class*=Edit] > td:before {
			display: block;
		}

		table[class^="cbResultSetTable"] > tbody > tr > td[class^="cbResultSetData"] > span > input[type="file"] {
			width: 100%;
			box-sizing: border-box;
		}

		/* inline insert */
		/*'User Story 81690: Responsive Reports - Inline Insert*/
		/*table[class^="cbResultSetTable"] > tbody > tr[data-cb-name=inlineaddrow] td[class*='cbResultSetTableCell']*/
		table[class^="cbResultSetTable"] > tbody > tr[data-cb-name=inlineaddrow] {
			display: none;
		}

		#caspioform .cbReportInlineAddRow {
			display: block !important;
		}

		table[class^="cbResultSetTable"] > tbody > tr[class*="cbReportInlineAddRow"] {
			display: block !important;
		}

		/* inline insert edit */
		/*table[class^="cbResultSetTable"] > tbody > tr > td > span[class=Edit] {
				display: block;
			}*/
		table[class^="cbResultSetTable"] > tbody > tr > td > span[class=Edit] > input[type=text],
		table[class^="cbResultSetTable"] > tbody > tr > td > span[class^="cbResultSetInlineCalendarWrapper"] > input[type=text] {
			width: 100%;
		}

		table[class^="cbResultSetTable"] > tbody > tr > td > span[class=Edit] img[alt~="Calendar"] {
			position: relative;
			left: -24px;
			top: 4px;
		}

		table[class^="cbResultSetTable"] > tbody > tr > td > span[class^="cbResultSetInlineCalendarWrapper"] img[alt~="Calendar"] {
			position: relative;
			left: -24px;
			top: 4px;
		}


		table[class^="cbResultSetTable"] > tbody > tr[data-cb-name=inlineaddrow] > td[class*="cbResultSetRecordIndex"],
		table[class^="cbResultSetTable"] > tbody > tr[data-cb-name=inlineaddrow] > td[class*="cbResultSetSelectRecordCheckBoxCell"],
		table[class^="cbResultSetTable"] > tbody > tr[data-cb-name=inlineaddrow] > td[class*="cbResultSetCalculatedField"] {
			display: none !important;
		}

		/*grouping start*/

		table[class^="cbResultSetTable"] > tbody > tr[class^="cbResultSetGroup2Row"] {
			margin-left: 24px;
			padding-right: 24px;
		}

		table[class^="cbResultSetTable"] > tbody > tr[class^="cbResultSetGroup3Row"]{
			margin-left: 48px;
			padding-right: 48px;
		}

		table[class^="cbResultSetTable"] > tbody > tr[class^="cbResultSetGroup4Row"] {
			margin-left: 72px;
			padding-right: 72px;
		}

		/*grouping end*/

		/* inline actions start */

		.cbColumnarReport > div > div,
		section.cbCalendarReport > div > div,
		table[class^="cbResultSetTable"] > tbody > tr[data-cb-name="data"] {
			position: relative;
		}

		.cbCalendarReport dl,
		.cbColumnarReport dl {
			overflow: hidden;
			text-overflow: ellipsis;
		}

			table[class^="cbResultSetTable"] > tbody > tr[data-cb-name="data"]:not([class~=Edit]) > td.cbResultSetActionCell {
				width: 42px !important;
				height: 42px !important;
				background-image: url(/images/rmenu.svg);
				background-repeat: no-repeat;
				background-position: center;
				padding: 0px !important;
			}

/* list/gallery case */
section.cbCalendarReport div[data-cb-name=RACtnr],
.cbColumnarReport div[data-cb-name=RACtnr] {
	position: relative !important;
	display: block !important;
	width: 42px !important;
	height: 42px !important;
	margin: 0px !important;
	padding: 0px !important;
	background-color: transparent !important;
	background-image: url(/images/rmenu.svg) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	overflow: visible !important;
}

	.cbColumnarReport div[data-cb-name=RACtnr] > a,
	section.cbCalendarReport div[data-cb-name=RACtnr] > a,
	table[class^="cbResultSetTable"] > tbody > tr[data-cb-name="data"] > td.cbResultSetActionCell > a {
		display: none;
	}

	table[class^="cbResultSetTable"] > tbody > tr[data-cb-name="data"] > td.cbResultSetActionCell > span {
		display: none;
	}


/* inline actions end */
/*tabular end*/
/* pivot start */

/* pivot end */

/*list view start*/

/*list view end*/

/* list/gallery view start */

/* list/gallery view end */

/* calendar start */
section.cbCalendarReport {
	display: block;
	overflow: hidden;
}

/*section.cbCalendarReport > div[data-cb-has-data="false"],*/
section.cbCalendarReport > div[class^="cbResultSetCalendarHeaderCell"] {
	display: none !important;
}

section.cbCalendarReport dd + dt::before { /* drop keep with next */
	content: "\A";
	white-space: pre-line;
}

.cbCalendarReport div[data-cb-name=RACtnr] {
	position: initial !important;
	display: block !important;
	width: auto !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
/* calendar end */
/* alerts start */
#BulkUpdateForm,
#Alert {
	left: 5px !important;
	right: 5px !important;
	width: auto !important;
}

	#BulkUpdateForm .TitleText,
	#Alert .TitleText {
		cursor: default;
	}

	#BulkUpdateForm .Body > div {
		display: block !important;
	}

/* alerts end */


/* auth connections start */
nav.cbAuthIconsLayout ul li:nth-of-type(2)::after {
	content: "\A";
	white-space: pre-line;
}

div.cbAuthSidebarOuterTable {
	display: block;
}

	div.cbAuthSidebarOuterTable > nav {
		width: 100% !important;
	}

		div.cbAuthSidebarOuterTable > nav > ul {
			display: flex;
			flex-wrap: wrap;
		}

a[data-cb-label] > span,
div[data-cb-label] > span {
	display: none;
}

div[id*="cbSimpleLayoutContainer"] {
	display: flex;
}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Left"],
	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Top"] {
		flex-direction: column;
	}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Right"],
	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Bottom"] {
		flex-direction: column-reverse;
	}

	div[id*="cbSimpleLayoutContainer"] ul {
		flex-wrap: wrap;
	}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Left"] ul,
	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Right"] ul {
		flex-direction: row;
	}

div[id^="cbOpenIdContainer"],
div[id^="cbAuthFormOuterContainer"] {
	left: 10px !important;
	right: 10px !important;
}

div[id^="cbShadowContent"] {
	left: 5px !important;
	right: 5px !important;
	width: auto !important;
	min-width: initial !important;
}

div[class*="cbAuthSidebarProviderContentWrapper"] {
	padding: 0px !important;
	margin: 15px !important;
}

/* auth connections end */

/* streach submit buttons only for mobile resolution */
@media only screen and (max-width: 576px)  {

	div[id^="cbOuterAjaxCtnr"] .cbAuthIconsOuterTable {
		text-align: center;
	}

	section[class^="cbFormSection"] input[type=submit],
	section[class^="cbFormSection"] input[type=submit]:hover /* :hover - in case of FF */ {
		margin-top: 5px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	section[class^="cbFormSection"] input[type=submit]{
		width: 100% !important;  
	}

	.cbAuthSidebarOuterTable  .cbAuthSidebarLoginButtonContainer .cbLoginButton,
	.cbAuthSidebarOuterTable .cbLoginButtonContainer .cbLoginButton,
	.cbAuthSidebarOuterTable .cbAuthOpenIDTable .cbFormTextField {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	section[class^="cbFormSection"][class*="cbSearchSpa"] div[class*="cbSearchButtonContainerM"] {
		display: block !important;
	}
	
	section[class^="cbFormSection"][class*="cbSearchSpa"] div {
		display: none;
	}

	a.cbResultSetCalendarNavigationLinks {
		font-size: 17px !important;
		display: inline-block;
		min-width: 24px;
		height: 24px;
	}

	nav.cbResultSetCalendarStickyHeader {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1;
	}

	.cbCalendarNavBarPanel > ul > li[data-cb-name='First'],
	.cbCalendarNavBarPanel > ul > li[data-cb-name='Last'] {
		display: none;
	}

	.cbCalendarNavBarPanel ul li[data-cb-name='Prev'] {
		margin-right: auto;
	}
	.cbCalendarNavBarPanel ul li[data-cb-name='Next'] {
		margin-left: auto;
	}
	
	/* adjust navigation panels for mobile */
	nav.cbReportNavBarPanel .cbNavBarCtnt ul[data-cb-name='ResponsiveNavBar'],
	nav.cbReportNavBarPanel .cbNavBarCtnt ul[data-cb-name='ResponsiveJumpToNavBar'] {
		display: inline-flex;
	}

	nav.cbReportNavBarPanel .cbNavBarCtnt ul[data-cb-name='JumpToNavBar'],
	nav.cbReportNavBarPanel .cbNavBarCtnt ul[data-cb-name='SimpleNavBar'] {
		display: none;
	}

	section[class^="cbFormSection"] div[class^="paypal-button"] > .zoid-outlet {
		width: 100% !important;
	}

	/*inline add, edit*/
	table[class^="cbResultSetTable"] > tbody > tr > td[class*="cbResultSetData"] select[class*="cbResultSetSelect" ] {
		width: 100%;
	}

	section[class^="cbFormSection"] .cbFormFieldCell img,
	section[class^="cbFormSection"] .cbBulkFormFieldCell img,
	section[class^="cbFormSection"] .cbFormDataCell img,
	table[class^="cbResultSetTable"] .cbResultSetData img,
	section.cbColumnarReport .cbResultSetData img,
	section.cbCalendarReport .cbResultSetData img {
		max-width: 100%;
		height: auto;
	}

	/*pagination*/
	/*on mobile screen must be at center*/
	.cbReportNavBarPanel .cbRecordCountMessage.Left,
	.cbReportNavBarPanel .cbRecordCountMessage.Right {
		text-align: center;
	}
}

/* remove appearance  for inputs */
#caspioform input[type="text"],
#caspioform input[type="submit"],
#caspioform input[type="password"],
#caspioform input[type="email"],
#caspioform input[type="button"],
table[class^="cbResultSetTable"] input[type="text"],
table[class^="cbResultSetTable"] input[type="submit"],
table[class^="cbResultSetTable"] input[type="password"],
table[class^="cbResultSetTable"] input[type="email"],
table[class^="cbResultSetTable"] input[type="button"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.cbLoginButtonContainer input[type="submit"],
.cbAuthSidebarLoginButtonContainer input[type="button"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

/* hide calendar arrows */
.flatpickr-calendar .numInputWrapper span.arrowUp,
.flatpickr-calendar .numInputWrapper span.arrowDown {
	opacity: 0;
	pointer-events: none;
}