/* Copyright 2018-2019 Epic Systems Corporation */
#twofactorform input[type="text"] {
  min-width: 0rem; }

#captchaForm .required:before {
  content: none; }

#captchaContainer {
  margin-top: 1rem; }

#twofactorresend input[type="submit"], #twofactorresend input[type="button"] {
  background-color: transparent;
  color: #6b2b5e; }

#resendCodeDetails {
  width: 60%;
  margin: auto; }

.floatleft {
  float: left; }

span.blue {
  background: #702F8A;
  border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
  font-family: monospace; }

#twofactorsend input[name="deliveryMethodEmail"], #sendtoemail, #twofactorsend input[name="deliveryMethodSMS"], #sendtomobile, #twofactorresend input[name="deliveryMethodEmail"], #twofactorresend input[name="sendtoemail"], #twofactorresend input[name="deliveryMethodSMS"], #twofactorresend input[name="sendtomobile"] {
  background-repeat: no-repeat;
  padding-left: 35px;
  vertical-align: middle;
  background-size: 24px;
  background-position-x: 5px;
  background-position-y: 5px; }

#twofactorsend input[name="deliveryMethodEmail"], #sendtoemail {
  background-image: url("../images/authentication/email_toggled_green.png"); }

#twofactorsend input[name="deliveryMethodSMS"], #sendtomobile {
  background-image: url("../images/authentication/text_toggled_green.png"); }

#twofactorresend input[name="deliveryMethodEmail"], #twofactorresend input[name="sendtoemail"], #twofactorresend input[name="deliveryMethodSMS"], #twofactorresend input[name="sendtomobile"] {
  display: inline;
  border-width: 0px;
  cursor: pointer; }
#twofactorresend input[name="deliveryMethodEmail"], #twofactorresend input[name="sendtoemail"] {
  background-image: url("../images/authentication/email_toggled_blue.svg"); }
#twofactorresend input[name="deliveryMethodSMS"], #twofactorresend input[name="sendtomobile"] {
  background-image: url("../images/authentication/text_toggled_blue.svg"); }

.mobile #twofactorsend input[name="deliveryMethodEmail"], #sendtoemail {
  background-image: none; }

.mobile #twofactorsend input[name="deliveryMethodSMS"], #sendtomobile {
  background-image: none; }

.mobile #twofactorresend input[name="deliveryMethodEmail"], .mobile #twofactorresend input[name="sendtoemail"], .mobile #twofactorresend input[name="deliveryMethodSMS"], .mobile #twofactorresend input[name="sendtomobile"] {
  display: inline;
  border-width: 0px;
  cursor: pointer; }
.mobile #twofactorresend input[name="deliveryMethodEmail"], .mobile #twofactorresend input[name="sendtoemail"] {
  background-image: none; }
.mobile #twofactorresend input[name="deliveryMethodSMS"], .mobile #twofactorresend input[name="sendtomobile"] {
  background-image: none; }

img.twofaicon {
  height: 7rem;
  margin-bottom: 4px; }

#featureDescription {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem; }

#main .title {
  height: auto;
  margin-bottom: 1rem;
  padding: 0; }

.logo {
  margin: 0 0 1rem 0; }

#resend-code-header {
  font-size: x-large;
  margin-bottom: 6px; }

#captchaForm div.formsection {
  margin: 1rem 0px 0px 0px; }
#captchaForm div.visuallabel {
  margin: 0px 0px 0.5rem 0px; }
#captchaForm #twofactorresend .formbuttons {
  margin-top: 1rem; }
#captchaForm .formsection > p.button.buttoncheck {
  margin-left: -4px; }

#two-factor-desc {
  margin-bottom: 4px; }

#send-code-header {
  margin-bottom: 0.75rem; }

.faded {
  opacity: 0.2; }

a#newtablink {
  outline: none; }

#twofactorpretext {
  margin-bottom: 2.5rem; }

body.secondaryValidation div.title h1.header {
  margin-bottom: 0; }

.lightbox_overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4); }

div.mainContent {
  margin: 0 0 2.5rem 0; }

#password_reset_description #password_error {
  margin: 0.7rem 0rem; }

.button.enrollmentbutton {
  margin: 0.2rem 0.4rem; }

/*Override default display element for popup buttons.*/
.mobile .component ul.buttons li.enrollmentbutton {
  display: block;
  margin: 0.3rem 0rem; }

/*Don't show outline on MainContent when it receives focus.*/
div#MainContent:focus {
  outline: none; }

form#two-factor-wrapper-form div.formbuttons input.button {
  margin-right: 0.4rem; }

.mobile #update_twofactor_status_container .formbuttons input.button {
  margin: 0.5rem auto; }

#update_twofactor_status_container .formbuttons input.button {
  margin: 0.5rem; }

#twofactorform.formsection {
  display: block;
  margin: 1rem auto;
  width: 200px; }
  #twofactorform.formsection label {
    text-align: left; }
  #twofactorform.formsection input {
    min-width: 0;
    width: 200px; }
  #twofactorform.formsection div.validationmessage {
    text-align: left; }
  #twofactorform.formsection div.alert {
    white-space: nowrap; }

div#sec-ques-desc {
  margin: 0.7rem 0rem; }

div.ajaxspinner {
  display: none; }
