
section[class^="cbFormSection"] input[type=radio] + label {
	margin-right: 5px;
}

.cbActionPanel {
	display: flex;
	flex-wrap: wrap; /* part of "responsive layout", to move "Sort By"|"AdvancedSorting" to next line */
	box-sizing: border-box;
}

	.cbActionPanel ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-left: 0px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

		.cbActionPanel ul li {
			list-style-type: none;
			margin-right: 1em;
		}

	.cbActionPanel div.cbAdvSorting {
		margin-left: auto;
		margin-top: 5px;
		margin-bottom: 5px;
	}

		.cbActionPanel div.cbAdvSorting select {
			max-width: 250px;
		}



.cbFormNavBarPanel {
	padding-top: 5px;
	padding-bottom: 5px;
}

	.cbFormNavBarPanel.Left ul {
		justify-content: flex-start;
	}

	.cbFormNavBarPanel.Center ul {
		justify-content: center;
	}

	.cbFormNavBarPanel.Right ul {
		justify-content: flex-end;
	}

	.cbFormNavBarPanel ul {
		display: flex;
		align-items: center;
		list-style-type: none;
		margin: 0px;

	}

	/*.cbFormNavBarPanel li {
}*/

	.cbFormNavBarPanel li img {
		vertical-align: text-bottom;
	}





.cbCalendarNavBarPanel {
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

	.cbCalendarNavBarPanel.Left ul {
		justify-content: flex-start;
	}

	.cbCalendarNavBarPanel.Center ul {
		justify-content: center;
	}

	.cbCalendarNavBarPanel.Right ul {
		justify-content: flex-end;
	}

	.cbCalendarNavBarPanel ul {
		display: flex;
		align-items: center;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	/*.cbCalendarNavBarPanel li {

}*/

	.cbCalendarNavBarPanel li img {
		vertical-align: text-bottom;
	}




.cbReportNavBarPanel .cbRecordCountMessage {
	margin-top: 5px;
	margin-bottom: 5px;
}

	.cbReportNavBarPanel .cbRecordCountMessage.Left {
		text-align: left;
	}

	.cbReportNavBarPanel .cbRecordCountMessage.Center {
		text-align: center;
	}

	.cbReportNavBarPanel .cbRecordCountMessage.Right {
		text-align: right;
	}


.cbReportNavBarPanel .cbNavBarCtnt {
	align-items: center;
}

	.cbReportNavBarPanel .cbNavBarCtnt.cbFlex {
		display: flex;
		align-items: center;
	}

		.cbReportNavBarPanel .cbNavBarCtnt.cbFlex.Left {
			justify-content: flex-start;
		}

		.cbReportNavBarPanel .cbNavBarCtnt.cbFlex.Center {
			justify-content: center;
		}

		.cbReportNavBarPanel .cbNavBarCtnt.cbFlex.Right {
			justify-content: flex-end;
		}

	.cbReportNavBarPanel .cbNavBarCtnt.cbGrid {
		display: grid;
		grid-template-columns: repeat(3, auto);
	}

		.cbReportNavBarPanel .cbNavBarCtnt.cbGrid .Left {
			grid-column: 1;
			grid-row: 1;
			justify-self: start;
		}

		.cbReportNavBarPanel .cbNavBarCtnt.cbGrid .Center {
			grid-column: 2;
			grid-row: 1;
			justify-self: center;
		}

		.cbReportNavBarPanel .cbNavBarCtnt.cbGrid .Right {
			grid-column: 3;
			grid-row: 1;
			justify-self: end;
		}


	.cbReportNavBarPanel .cbNavBarCtnt.cbGridIE {
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr 1fr;
	}

		.cbReportNavBarPanel .cbNavBarCtnt.cbGridIE .Left {
			-ms-grid-column: 1;
			-ms-grid-row: 1;
			-ms-grid-column-align: start;
		}

		.cbReportNavBarPanel .cbNavBarCtnt.cbGridIE .Center {
			-ms-grid-column: 2;
			-ms-grid-row: 1;
			-ms-grid-column-align: center;
		}

		.cbReportNavBarPanel .cbNavBarCtnt.cbGridIE .Right {
			-ms-grid-column: 3;
			-ms-grid-row: 1;
			-ms-grid-column-align: end;
		}

.cbReportNavBarPanel ul {
	display: flex;
	align-items: center;
}

.cbReportNavBarPanel .cbNavBarCtnt ul {
	margin: 0px;
	padding: 0px;
}

	.cbReportNavBarPanel .cbNavBarCtnt ul li {
		list-style-type: none;
	}

		.cbReportNavBarPanel .cbNavBarCtnt ul li img {
			vertical-align: middle;
		}

.cbReportNavBarPanel .cbNavBarCtnt ul[data-cb-name='ResponsiveNavBar'],
.cbReportNavBarPanel .cbNavBarCtnt ul[data-cb-name='ResponsiveJumpToNavBar'] {
	display: none;
}

.cbReportNavBarPanel .cbNavBarCtnt ul[data-cb-name='JumpToNavBar'],
.cbReportNavBarPanel .cbNavBarCtnt ul[data-cb-name='SimpleNavBar'] {
	display: inline-flex;
}

.cbFormNavBarPanel ul[data-cb-name='ResponsiveNavBar'] {
	display: none;
}

.cbFormNavBarPanel ul[data-cb-name='DesktopNavBar'] {
	display: inline-flex;
}


.cbColumnarReport {
	grid-gap: 10px;
}

	.cbColumnarReport dl {
		margin: 0;
	}

	.cbColumnarReport dt,
	.cbColumnarReport dd {
		display: inline;
		margin-left: 0;
	}

	.cbColumnarReport dt {
		margin-right: 5px;
	}

	.cbColumnarReport dd:not([data-cb-kwn=true]) + dd::before,
	.cbColumnarReport dd:not([data-cb-kwn=true]) + dt::before {
		content: "\A";
		white-space: pre-line;
	}



.cbCalendarReport {
	box-sizing: border-box;
}

@media screen and (min-width: 1025px) {

	.cbCalendarReport > div:not(:nth-child(7n+7)):not(:nth-last-child(-n+7)) {
		border-right-width: 0px;
		border-bottom-width: 0px;
	}

	.cbCalendarReport > div:nth-child(7n-7):not(:last-child) {
		border-bottom-width: 0px;
	}

	.cbCalendarReport > div:nth-child(7n+1):nth-last-child(-n+7),
	.cbCalendarReport > div:nth-child(7n+1):nth-last-child(-n+7) ~ div:not(:last-child) {
		border-right-width: 0px;
	}
}


@media screen and (max-width: 1024px) {
	/*.cbCalendarReport > div[data-cb-has-data=true]*/
	.cbCalendarReport > div[class*="cbReportBlock"] {
		border-top-width: 0px;
	}
}

.cbCalendarReport dl {
	margin: 0;
}

.cbCalendarReport dt,
.cbCalendarReport dd {
	display: inline;
	margin-left: 0;
}

.cbCalendarReport dt {
	margin-right: 5px;
}

.cbCalendarReport dd:not([data-cb-kwn=true]) + dd::before,
.cbCalendarReport dd:not([data-cb-kwn=true]) + dt::before {
	content: "\A";
	white-space: pre-line;
}




/* auth connections start */
nav.cbAuthIconsLayout ul {
	list-style-type: none;
	margin: 0px;
}
nav.cbAuthIconsLayout ul li{
	display: inline;
}

	div.cbAuthSidebarOuterTable {
		display: inline-flex;
	}

nav.cbAuthSidebarProviderContainer ul {
	list-style-type: none;
	margin: 0px;
}

div[id*="cbSimpleLayoutContainer"] {
	display: inline-flex;
}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Top"] {
		flex-direction: column;
	}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Right"] {
		flex-direction: row-reverse;
	}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Bottom"] {
		flex-direction: column-reverse;
	}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Left"] {
		flex-direction: row;
	}

	div[id*="cbSimpleLayoutContainer"] ul {
		display: flex;
		list-style-type: none;
		align-items: center;
		margin: 0px;
		padding: 0px;
	}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Top"] ul,
	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Bottom"] ul {
		flex-direction: row;
	}

	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Right"] ul,
	div[id*="cbSimpleLayoutContainer"][data-cb-layout="Left"] ul {
		flex-direction: column;
	}



a[data-cb-label],
div[data-cb-label] {
	display: inline-flex;
	align-items: center;
}

	a[data-cb-label] > img,
	div[data-cb-label] > img {
		margin: 5px !important;
	}

	a[data-cb-label="left"],
	div[data-cb-label="left"] {
		flex-direction: row-reverse;
	}
a[data-cb-label="right"],
div[data-cb-label="right"] {
	flex-direction: row;
}
a[data-cb-label="top"],
div[data-cb-label="top"] {
	flex-direction: column-reverse;
}
a[data-cb-label="bottom"],
div[data-cb-label="bottom"] {
	flex-direction: column;
}
/* auth connections end */
