
.cbGridCtnr {
	font-size: 12px;
	font-family: Arial;
}

	.cbGridCtnr > .HeadCtnr {
		position: relative;
	}

		.cbGridCtnr > .HeadCtnr > .Table {
			/*position: relative;*/
			/*box-sizing: border-box;*/
			table-layout: fixed;
			border-collapse: separate;
			border-style: none;
			width: 0;
		}

.BodyCtnr > .HeadCtnr .Cell {
	position: relative;
	/*display: table-cell;*/
	/*height: 34px;
    line-height: 34px;*/
	border-left-width: 0 !important;
	border-top-width: 0 !important;
	/*vertical-align: top;*/
}

.cbGridCtnr > .HeadCtnr .Cell.Del .Data {
}

.cbGridCtnr > .HeadCtnr .Cell > .Data {
	/*margin-left: 8px;
    margin-right: 14px;*/
	overflow: hidden;
	white-space: nowrap;
	/*height: 28px;*/
}

	.cbGridCtnr > .HeadCtnr .Cell > .Data span {
		cursor: default;
	}

.cbGridCtnr > .HeadCtnr > .ResizeCtnr {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}

.cbGridCtnr > .BodyCtnr {
	position: relative;
	/*overflow: auto;*/
}

	.cbGridCtnr > .BodyCtnr > .Table {
		/*position: relative;*/
		/*display: table;*/
		/*box-sizing: border-box;*/
		table-layout: fixed;
		border-collapse: separate;
		border-style: none;
		width: 0;
	}

		.cbGridCtnr > .BodyCtnr > .Table .Row.WithFile {
			height: 58px;
		}

	.cbGridCtnr > .BodyCtnr .Cell {
		position: relative;
		overflow: hidden;
		vertical-align: top;
		border-top-width: 0 !important;
	}

		.cbGridCtnr > .BodyCtnr .Cell:not(:first-child) {
			border-left-width: 0 !important;
		}

.cbGridCtnr > .HeadCtnr .Cell:not(:first-child) {
	border-left-width: 0 !important;
}

.cbGridCtnr > .BodyCtnr .ReadOnly.Cell {
	/*background-color: #eee;*/
}

.cbGridCtnr > .BodyCtnr .Cell.Del .Data > input {
	/*margin-left: 9px;*/
}

.cbGridCtnr > .BodyCtnr .Cell.RA .Data {
	/*text-align: right;*/
	white-space: nowrap;
}

	.cbGridCtnr > .BodyCtnr .Cell.RA .Data img {
		vertical-align: text-bottom;
	}

.cbGridCtnr > .BodyCtnr .Cell > .Data {
	/*position: relative;*/
	/*margin-left: 3px;
    margin-right: 3px;*/
	/*height: 28px;*/
	/*line-height: 28px;*/
	overflow: hidden;
}

.cbGridCtnr > .BodyCtnr .Cell .Edit {
	position: absolute;
	top: 0px;
	left: 0;
	overflow: visible;
	outline: none;
	/*border: 1px solid transparent;*/
}

.cbGridCtnr > .BodyCtnr .Row.Edit .Cell .Data.Hide {
	visibility: hidden;
}

.cbGridCtnr > .BodyCtnr .Cell.Bool > .Data,
.cbGridCtnr > .BodyCtnr .Cell.Bool .Edit {
	text-align: center;
}

	.cbGridCtnr > .BodyCtnr .Cell.Bool > .Data > input,
	.cbGridCtnr > .BodyCtnr .Cell.Bool .Edit > input {
		margin: 0;
	}

.cbGridCtnr > .BodyCtnr .Row.Edit .Cell textarea,
.cbGridCtnr > .BodyCtnr .Row.Edit .Cell input[type='text'],
.cbGridCtnr > .BodyCtnr .Row.Edit .Cell input[type='email'],
.cbGridCtnr > .BodyCtnr .Row.Edit .Cell input[type='password'] {
	display: block;
	position: absolute;
	margin: 0px;
	padding-left: 2px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	font-family: Arial;
	border: 1px solid transparent;
	/*box-sizing: border-box;*/
	background-color: transparent;
	-moz-box-sizing: border-box;
	outline: none;
	text-align: inherit;
}

.cbGridCtnr > .BodyCtnr .Cell .Edit .FileLabel {
	position: absolute;
	top: -10px;
	left: 12px;
}

.cbGridCtnr > .BodyCtnr .Cell .Edit input[type='file'] {
	outline: none;
}
/*.cbGridCtnr > .BodyCtnr .Cell :focus*/
/*.cbGridCtnr > .BodyCtnr .Edit.Row .Cell.cbResultSetGridErrorDataCell input[type='text'], 
.cbGridCtnr > .BodyCtnr .Edit.Row .Cell.cbResultSetGridErrorDataCell input[type='checkbox'], 
.cbGridCtnr > .BodyCtnr .Edit.Row .Cell.cbResultSetGridErrorDataCell input[type='password']*/
/*	border-color: #ff0000;
	border-width: 2px !important;
	border-style: solid;

}*/
.cbGridCtnr > .BodyCtnr .Cell .Edit:focus {
}

.cbGridCtnr > .BodyCtnr .Row.Edit .Cell textarea {
	padding-top: 0px;
	resize: none;
}

.cbGridCtnr > .BodyCtnr .Row.Edit .Cell select {
	border-width: 0;
	background-color: transparent;
	outline: none;
}

.ResizeColumn {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 11px;
	cursor: e-resize;
}

	.ResizeColumn div {
		/*background-color: #4E6785;*/
		width: 1px;
		height: 100%;
		position: absolute;
		left: 5px;
		top: 0px;
	}

#ResColMarker {
	position: absolute;
	width: 1px;
	cursor: e-resize;
	background-color: #CECECE;
}
