/* Copyright 2018 Epic Systems Corporation */
body.md_appointments #alerts {
  border-top-width: 1px; }
#datatile #alerts {
  width: 99%;
  float: none;
  margin: 0 auto; }
  #datatile #alerts .loginalert > a, #datatile #alerts .loginalert > .head {
    width: auto;
    display: block; }
#alerts.apptalerts {
  margin: 0 0 0; }
#alerts .alertspanel.Panel, #alerts .alertspanel.Panel > div, #alerts .alertspanel.Panel > div > div {
  float: left; }
#alerts .loginalert .titlebar {
  border: none;
  display: none; }

.loginalert > .alerttab-down, .loginalert > .alerttab-up {
  cursor: pointer;
  height: 28px;
  position: absolute;
  width: 118px;
  z-index: 2;
  left: calc(50% - 60px - 1.5rem);
  bottom: 0;
  display: none; }

.indent {
  padding-left: 16px;
  width: auto; }

.urgent {
  font-weight: bold; }
